In [20]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [21]:
import cleandata

In [22]:
!python data.py

sys:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
missing vals before 0
missing vals after 153407

In [31]:
import pandas as pd

In [59]:
store = pd.read_csv("~/dsr/minichallenge/data/store.csv")

In [60]:
train = pd.read_csv("~/dsr/minichallenge/data/train.csv", low_memory=False)

In [61]:
newdf = train.merge(store,how='left',on='Store')

In [62]:
newdf

,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,2013-01-01,1115.0,2.0,0.0,0.0,0.0,0.0,a,1.0,d,c,5350.0,NaN,NaN,1.0,22.0,2012.0,"Mar,Jun,Sept,Dec"
1,2013-01-01,379.0,2.0,0.0,0.0,0.0,0.0,a,1.0,d,a,6630.0,NaN,NaN,0.0,NaN,NaN,NaN
2,2013-01-01,378.0,2.0,0.0,0.0,0.0,0.0,a,1.0,a,c,2140.0,8.0,2012.0,0.0,NaN,NaN,NaN
3,2013-01-01,377.0,2.0,0.0,0.0,0.0,0.0,a,1.0,a,c,100.0,6.0,2010.0,1.0,18.0,2010.0,"Feb,May,Aug,Nov"
4,2013-01-01,376.0,2.0,0.0,0.0,0.0,0.0,a,1.0,a,a,160.0,8.0,2012.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637769,2014-07-31,752.0,4.0,7259.0,576.0,1.0,1.0,0,1.0,a,a,970.0,3.0,2013.0,1.0,31.0,2013.0,"Feb,May,Aug,Nov"
637770,2014-07-31,753.0,NaN,9938.0,796.0,1.0,1.0,0,1.0,d,c,540.0,11.0,2012.0,1.0,35.0,2010.0,"Mar,Jun,Sept,Dec"
637771,2014-07-31,754.0,4.0,10564.0,1162.0,1.0,1.0,0,NaN,c,c,380.0,5.0,2008.0,1.0,10.0,2014.0,"Mar,Jun,Sept,Dec"
637772,2014-07-31,755.0,4.0,12302.0,1020.0,1.0,1.0,0,1.0,d,c,13130.0,12.0,2003.0,0.0,NaN,NaN,NaN
637773,2014-07-31,751.0,4.0,3913.0,539.0,1.0,1.0,0,1.0,a,a,650.0,10.0,2006.0,0.0,NaN,NaN,NaN

In [64]:
newdf.isna().any()

Date                         False
Store                         True
DayOfWeek                     True
Sales                         True
Customers                     True
Open                          True
Promo                         True
StateHoliday                  True
SchoolHoliday                 True
StoreType                     True
Assortment                    True
CompetitionDistance           True
CompetitionOpenSinceMonth     True
CompetitionOpenSinceYear      True
Promo2                        True
Promo2SinceWeek               True
Promo2SinceYear               True
PromoInterval                 True
dtype: bool

In [65]:
from cleandata import cleanData

In [66]:
newdf = cleanData(newdf)

Dropped rows without store-ids
Extracted year, month and day from Date
Extracted and reset day of week

/home/alex/dsr/minichallenge/cleandata.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Sales'][i] = 0
/home/alex/anaconda3/envs/minicomp/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Set Sales to 0 if customers are 0
Dropped 0-sales rows in df

/home/alex/dsr/minichallenge/cleandata.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Open'][i] = 1

Set Open = 1 if Sales > 0
Filled school holidays based on state holidays
Train station stores now open! Enjoy your sunday shopping!
Public Holidays updated

/home/alex/dsr/minichallenge/cleandata.py:100: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['StateHoliday'][i] = row2['StateHoliday'].values[0]
/home/alex/dsr/minichallenge/cleandata.py:117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['StateHoliday'][i] = row2['StateHoliday'].values[0]

Finished regional stateholidays
finished remaining stateholidays
Adjusted open status of shops according to state holidays
Finished filling in empty customers cells
Finish sales
PromoIntervals encoded
Store Type Encoded
State Holidays Encoded
Assortment Type Encoded
---Cleaning completed---

In [67]:
newdf

,level_0,index,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,...,StoreType b,StoreType c,StoreType d,NoStateHoliday,PublicHoliday,EasterHoliday,Christmas Holiday,Basic Assort,Extra Assort,Extended Assort
0,27,27,2013-01-01,353.0,2,3139.0,820.0,1.0,0.0,a,...,1,0,0,0,1,0,0,0,1,0
1,62,62,2013-01-01,394.0,2,NaN,0.0,0.0,0.0,a,...,0,0,1,0,1,0,0,1,0,0
2,115,115,2013-01-01,335.0,2,2401.0,482.0,1.0,0.0,a,...,1,0,0,0,1,0,0,1,0,0
3,145,147,2013-01-01,512.0,2,2646.0,625.0,1.0,0.0,a,...,1,0,0,0,1,0,0,0,1,0
4,160,162,2013-01-01,494.0,2,3113.0,527.0,1.0,0.0,a,...,1,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512820,618468,637769,2014-07-31,752.0,4,7259.0,576.0,1.0,1.0,0,...,0,0,0,1,0,0,0,1,0,0
512821,618469,637770,2014-07-31,753.0,4,9938.0,796.0,1.0,1.0,0,...,0,0,1,1,0,0,0,0,0,1
512822,618470,637771,2014-07-31,754.0,4,10564.0,1162.0,1.0,1.0,0,...,0,1,0,1,0,0,0,0,0,1
512823,618471,637772,2014-07-31,755.0,4,12302.0,1020.0,1.0,1.0,0,...,0,0,1,1,0,0,0,0,0,1
512824,618472,637773,2014-07-31,751.0,4,3913.0,539.0,1.0,1.0,0,...,0,0,0,1,0,0,0,1,0,0